@use '../../Style/globals.scss';

.titleStyle {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: globals.$colorYellow;
  text-align: center;
}
.pStyle {
  font-family: "Linden Hill", serif;
  font-weight: 400;
  color: globals.$colorYellow;
  text-align: center;
}
