@use "../../Style/globals.scss";

body {
  background-color: globals.$colorBlack;
}
.container {
  position: relative;

  .old_picture {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  .heading {
    width: 60vw;
    border: 5px solid;
    color: globals.$colorOlive;
    background-color: globals.$colorlightBlack;
    position: absolute;
    height: 25vh;
    width: 60vw;
    bottom: -50px;
    left: 20vw;
  }

  input {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    background: transparent;
    border: none;
    border-bottom: 2px solid globals.$colorOlive;
    color: globals.$colorOlive;
    font-size: 1.4rem;
    margin-left: 8px;
    width: 90px;
    font-size: 2rem; 
    font-weight: bold;
    text-align: center;
    width: 200px;
  }
}
