//Fonts limelight
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
//  font-family: "Limelight", sans-serif;

//font linden hill
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill:ital@0;1&display=swap');
//   font-family: "Linden Hill", serif;
@import './theme.scss';

// Colors
$colorYellow:#FFE9BF;
$colorOrange:#D29E62;
$colorbrown:#695E48;
$colorOlive:#c7BD8D;
$colorlightBlack:#1f1f1f;
$colorBlack:#151515;
$colorwhite:#f5f5f5;

