@use '../../Style/theme';

.bulb {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 999;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}