@use "../../Style/globals.scss";

.navStyle {
  background-color: globals.$colorBlack;
  border-bottom: solid 2px globals.$colorlightBlack;
  margin-top: 10vh;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20vw;
    padding-left: 20vw;

    li {
      list-style: none;
      a {
        text-decoration: none;
        color: globals.$colorOlive;
        font-family: "Linden Hill", serif;

        &:hover {
          text-decoration: underline;
          color: globals.$colorYellow;
        }
        &.active,
        &:active {
          text-decoration: undeline;
        }
      }
    }
  }
}
