@use '../../Style/globals' as globals;

.navStyle {
    border-bottom: solid 2px globals.$colorlightBlack;
  margin-bottom: 16px;
   text-decoration: none;

}
li{
  list-style: none;
  
}
ul{
  display: flex;
  flex-direction: row;
  gap:33%;
}
a{
text-decoration: none;
color:globals.$colorOlive;
font-family: "Linden Hill", serif;
font-weight: 400;
size: 36px;
}
